<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/cloudfront-us-east-1-images-arcpublishing/960x0.png?format=png&width=960" alt="" srcset=""
    height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in interdum est, ac interdum enim. Praesent elementum lobortis est a ornare. Integer eleifend maximus semper. Cras sed ex orci. Vestibulum nec porttitor lorem, a mollis enim. Nam id varius nunc. Maecenas sollicitudin sapien eu eros porta imperdiet. Duis quis dui quis massa sodales tempor.
      </a>
    </p>
  </div>
</div>
